<div class="container">
<div ng-controller="guiasCtrl" class="signup center-block jumbotron">
	<legend><h2>Lista de guias</h2></legend>
	<form role="form" class="form-inline">
		<div class="searchBar form-group has-feedback has-feedback-left">
		    <label class="control-label sr-only">Username</label>
			    <div class="inline-feedback">
				    <input id="search" type="text" class="form-control input-lg" ng-model="search" placeholder="Search" />
				    <i class="form-control-feedback glyphicon glyphicon-search"></i>
			    </div>
          <select ng-model="list">
            <option value="">Nombre</option>
            <option value="guia">Apellidos</option>
          </select>

	  	</div>
  	</form>
  	<br><br><br>
    
    <table st-table="array" class="table table-striped">
	    <thead>
	      <tr>
	        <th>Id</th>
	        <th>Nombre</th>
	        <th>Apellidos</th>
			<th>Dni</th>
	        <th>Email</th>
	        <th>Teléfono</th>
			<th>Fecha</th>
			<th>Ciudad</th>
	        <th>Acciones</th>
	      </tr>
	  	</thead>
	  	<tbody>
	    	<tr ng-repeat="guia in array | filter:miFiltro | orderBy:list">
		          <td>{{guia.id}}</td>
		          <td>{{guia.nombre}}</td>
		          <td>{{guia.apellidos}}</td>
				  <td>{{guia.dni}}</td>
		          <td>{{guia.email}}</td>
		          <td>{{guia.telefono}}</td>
				  <td>{{guia.fecha_nac}}</td>
				  <td>{{guia.ciudad}}</td>
				  <td>
		            <a onmounseover="" style="cursor: pointer;"
		            <span class = "glyphicon glyphicon-trash"ng-controller="guiaDelCtrl" ng-model="id_guia" class="myButton"  ng-click="borrar()"/></span></a>       
					<a onmounseover="" style="cursor: pointer;"
					<span ng-click="toggleCategory(guia)" ng-model="id_guia">
					<span class="expand-indicator" ng-show="guia.expanded" ng-init="editar ? editar=false :  editar=true"><i class="fa fa-pencil"></i></span>
				    <span class="expand-indicator" ng-show="!guia.expanded"><i class="fa fa-pencil"></i></span></a>
				    <div class="content list-items animate-show-item" ng-show="guia.expanded">
	        		<div class="left">
						<div ng-controller="guiaEditCtrl" id="div_add" class="div_add list-items animate-show-item" ng-show="editar">
				            <form role="form" >
				                <legend><h4>Editar guia</h4></legend>
				                <div class="form-group">
				                  <input type="text" class="form-control" ng-model="guia.id" disabled="disabled">
				                </div>
				                <div class="form-group">
				                  <input type="text" class="form-control" ng-model="guia.nombre" placeholder="Nombre">
				                </div>
				                <div class="form-group">
				                  <input type="text" class="form-control"ng-model="guia.apellidos" placeholder="Apellidos">
				                </div>
				                <div class="form-group">
				                  <input type="text" class="form-control"ng-model="guia.email" placeholder="Email">
				                </div>
								<div class="form-group">
				                  <input type="text" class="form-control"ng-model="guia.telefono" placeholder="Teléfono">
				                </div>
				                <button type="submit"  class="btn btn-primary" ng-click="editar=false; guardar()">Guardar</button>
								<br>
				              </form>
	          			</div>
		      		</div>
				</div>
		          </td>

			</tr>
					
		    </tbody>
	    </table>
	    <!--  Repeat end, closing category group -->
	    
		
			
<div ng-controller="guiaCrearCtrl">
<br><br><br>
				<h4>Añadir guia</h4>
				<div class="form-group">
			        <input type="text" class="form-control"ng-model="crearGuia.nombre" placeholder="Nombre">
			    </div>
			    <div class="form-group">
			        <input type="text" class="form-control"ng-model="crearGuia.apellidos" placeholder="Apellidos">
			    </div>
			  <form novalidate class="simple-form">
			  	<div class="form-group">
			        <input type="text" class="form-control"ng-model="crearGuia.email" placeholder="Email">
			    </div>
			    <div class="form-group">
			        <input type="text" class="form-control"ng-model="crearGuia.dni" placeholder="Dni">
			    </div>

			    <div class="form-group">
			        <input type="text" class="form-control"ng-model="crearGuia.telefono" placeholder="Telefono">
			    </div>

			    <div class="form-group">
			        <input type="text" class="form-control"ng-model="crearGuia.ciudad" placeholder="Ciudad">
			    </div>
			    <div class="form-group">
			        <input type="date" class="form-control"ng-model="crearGuia.fecha_nac" placeholder="Fecha nacimiento (YYYY-MM-DD)">
			    </div>

			    <button type="submit" class="btn btn-primary" ng-click="anyadirGuia()">Añadir</button>
					<br>
					</form>
			</div>
</div>
</div>