<div class="signup center-block jumbotron">
  <form role="form">
  <h1>Signup</h1>
  <div class="form-group">
    <input type="text" class="form-control" id="login" ng-model="user.nombre" placeholder="Nombre">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="apellidos" ng-model="user.apellidos" placeholder="Apellidos">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="email" ng-model="user.login" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" ng-click="signup()">Submit</button>
  <a ui-sref="home()">Click here to Home</a>
</form>
</div>
