<div class="rutas" ng-controller="rutasCtrl">
	<form class="form">
		<div class="searchBar form-group has-feedback has-feedback-left">
		    <div class="inline-feedback">
			    <input id="search" type="text" class="form-control input-lg" ng-model="search" placeholder="¿Dónde quieres ir?" />
			    <i class="form-control-feedback glyphicon glyphicon-search"></i>
		    </div>
	  	</div>
  	</form>

  		<div ng-repeat-start="ruta in array | filter:miFiltro | orderBy:list" class="animate-repeat-categoria container">
			<button class="btn1 btn  btn-block btn-lg" ng-click="toggleCategory(ruta)">
				<div class="col-md-2" ng-controller="rutaQueGuiaCtrl" id="div_verGuia">
					<img class="foto1" ng-src='{{arrayGuia.foto}}'/>
					{{ruta.nombre}}
				</div>
			</button>
		</div>
		<div class="content list-items animate-show-item guia row " ng-show="ruta.expanded">
			<div class="contenedor1 col-md-3" ng-controller="rutaQueGuiaCtrl" id="div_verGuia">
				<img class="foto" ng-src='{{arrayGuia.foto}}'/><br><br>
				<label >Referencia: {{arrayGuia.id}}</label><br>
				<label>{{arrayGuia.nombre}} {{arrayGuia.apellidos}}</label><br>
				<label>{{arrayGuia.email}}</label><br>
				<label>{{arrayGuia.telefono}}</label><br>				
				<label>{{arrayGuia.ciudad}}</label><br>
			</div>
			<div class="contenedor2 col-md-4">
				<legend style="border-bottom-color: #45B39D;"><h2>{{ruta.nombre}}</h2></legend> <br>
				<label>Distancia {{ruta.distancia}}km</label><br>
				<label>Duaración {{ruta.duracion}}h</label><br>
				<label>Ciudad {{ruta.ciudad}}</label>
			</div>
			<div class="col-md-3">
				<div class="ruta" ng-bind-html='renderHtml(ruta.mapa)'></div>
			</div>
		</div>

		<div ng-repeat-end>
			<button ng-show="ruta.expanded" class="btn btn-primary btn-block btn-sm animate-show-item" disabled="disabled">/ {{ ruta.items.login }}</button>
			<br>

		</div>


<!--

	    <div class="guia row" ng-repeat="ruta in array | filter:miFiltro | orderBy:list">

	    	<div class="col-md-3" ng-controller="rutaQueGuiaCtrl" id="div_verGuia">
				<img class="foto" ng-src='{{arrayGuia.foto}}'/><br><br>
				<label >Referencia: {{arrayGuia.id}}</label><br>
				<label >Nombre:{{arrayGuia.nombre}}</label><br>
				<label >Apellidos: {{arrayGuia.apellidos}}</label><br>
				<label >Email: {{arrayGuia.email}}</label><br>
				<label >Tlf: {{arrayGuia.telefono}}</label>
			</div>

			<div class="col-md-3">
				<legend><h2>{{ruta.nombre}}</h2></legend> <br>
				<label>Distancia {{ruta.distancia}}km</label><br>
				<label>Duaración {{ruta.duracion}}h</label><br>
				<label>Ciudad {{ruta.ciudad}}</label>
			</div>

			<div class="col-md-6">
				<div class="ruta" ng-bind-html='renderHtml(ruta.mapa)'></div>
			</div>
			
		
		</div>
-->
</div>
</div>