<div ng-controller="rutasCtrl" class="signup center-block jumbotron">
	<legend><h2>Lista de rutas</h2></legend>
	<form role="form" class="form-inline">
		<div class="searchBar form-group has-feedback has-feedback-left">
		    <label class="control-label sr-only">Username</label>
			    <div class="inline-feedback">
				    <input id="search" type="text" class="form-control input-lg" ng-model="search" placeholder="Search" />
				    <i class="form-control-feedback glyphicon glyphicon-search"></i>
			    </div>
          <select ng-model="list">
            <option value="">Ciudad</option>
            <option value="ruta">ruta</option>
          </select>

	  	</div>
  	</form>
  	<br><br><br>
    
    <table st-table="array" class="table table-striped">
    	<thead>
	      <tr>
	        <th>Id</th>
	        <th>Nombre</th>
	        <th>Distancia</th>
	        <th>Duracion</th>
					<th>Ciudad</th>
	      </tr>
	  	</thead>
	  	<tbody>
	    	<tr ng-repeat="ruta in array | filter:miFiltro | orderBy:list">
		          <td>{{ruta.id}}</td>
		          <td>{{ruta.nombre}}</td>
		          <td>{{ruta.distancia}}</td>
		          <td>{{ruta.duracion}}</td>
				  <td>{{ruta.ciudad}}</td>
				  <td>
				  	
					<a onmounseover="" style="cursor: pointer;"
					<span ng-click="toggleCategory(ruta)" ng-model="id_ruta">
					<span class="expand-indicator" ng-show="ruta.expanded" ng-init="editar ? editar=false :  editar=true"><i class="fa fa-pencil"></i></span>
				    <span class="expand-indicator" ng-show="!ruta.expanded"><i class="fa fa-pencil"></i></span></a>
				    <div class="content list-items animate-show-item" ng-show="ruta.expanded">
	        		<div class="left">
		      		</div>
				</div>
				<iframe src="https://www.google.com/maps/d/embed?mid=1UY-ya-w5KNmU1Y59n4aDLNbmqcc" width="320" height="240"></iframe>
		          </td>
					</tr>
					
		    </tbody>
	    </table>
</div>
</div>
