.contenedor {
    text-align: center;
    padding-bottom: 10%;
}

.img {
 
	background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.button {
    width: 24%;
}
